body {
  text-align: center;
}
a {
  text-decoration: none;
  color: #222;
}

header {
  background: -moz-linear-gradient(to bottom, #70caf20%, #181b47100%);
}
header h1 {
  color: white;
  font-size: 40px;
}

#description {
  background-color: #eb374b;
  color: white;
  font-size: 20px;
}
#image {
  width: 50%;
  float: left;
}
#text {
  font-size: 14px;
  margin-bottom: 10px;
}

footer {
  width: 50%;
}
footer #qr {
  height: 80px;
  width: 80px;
  float: left;
}
footer h1 {
  display: inline;
}
